.recipeForm {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border: 6px solid #763343;
  background-color: #9CA8B6; 
  max-width: 20rem;
  border-radius: 10px;
  padding: 0.8rem;
}

.feed {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.eachRecipe {
  background-color: #763343;
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
}

.selectedRecipe {
  background-color: #763343;
  margin: 1rem;
  padding: .5rem;
  border-radius: 10px;
  max-width: 50%;
  min-width: 49%;
}

.recName {
  color: whitesmoke;
  font-weight: 700;
  border-bottom: 1px solid whitesmoke;
}

.estTime {
  color: whitesmoke;
  font-weight: 100;
}

.heading {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.title {
  color: #EC9D3D;
}

.head {
  margin-left: 3rem;
  color: #EC9D3D;
}