*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #FADABD; */
}

.login{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: whitesmoke;
}

.formStuff {
  margin: 1rem;
  display: inline-block;
}

.formInput {
  display: inline-block;
  border: 10px solid black;
  border-radius: 15px;
}

/* head style */
.login .head{
  text-align: center;
}

.login .head .logo1,
.login .head p,
.login .head button{
  margin-bottom: 15px;
}

.login .head > p{
  font-weight: bold;
  /* color: #8e8e8e; */
  font-size: 18px;
}

.login .head > button{
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #FADABD;
  color: #ffffff;
}

.login .head div{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FCDA4B;
}

.login .head div p{
  padding: 0 20px;
}

.login .head div hr{
  width: 200px;

}

/* contain style*/
.login .contain{
  display: flex;
  flex-direction: column;
}

.login .contain form, input{
  width: inherit;
}

.login .contain form input{
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
}

.login .contain form input:last-of-type{
  margin-bottom: 10px;
}

.login .contain form button{
  width: inherit;
  margin-bottom: 20px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #FCDA4B;
  color: #ffffff;
}

.login .contain ul{
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.login .contain ul li{
  display: inline;
  color: #FCDA4B;
}

.login .contain ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #FCDA4B;
}

/* not style */

.not {
  margin-left: -40px;
  position: absolute;
  margin-top: 190px;
}

.not p > a{
    text-decoration: none;
    color: #FCDA4B;
    font-weight: 600;
}

/* footer style */
.footer{
  bottom: 0;
  height: 2.5rem;
  margin-top: 50px;
}

.footer ul{
  text-align: center;
}
.footer ul li{
  display: inline;
  margin-right: 5px;
}
.footer ul li a{
  text-decoration: none;
  font-size: 12px;
  color: #00376b;
}

.footer p{
  margin: 10px 0;
  text-align: center;
  color: #8e9096;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
