.pantryLink {
  font-size: 1.8rem;
  text-decoration: none;
  color: orange;
  font-weight: 600;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.myPantries {
  margin: 1.2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.selectorArea {
  border: 5px solid blue;
  margin: auto;
  width: 50%;
  align-items: center;
}

.chosenPantry {
  font-size: 1.8rem;
  text-decoration: none;
  color: orange;
  font-weight: 600;
}