.icon {
    margin-top: 1em;
    color: #9cbcbd;
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navWrap {
    display: flex;
    position: relative;
}

.navWrap .nav {
    /* display: flex;
    justify-content: flex-end;
    max-height: 60px;
    border-bottom: 4px solid #9cbcbd;
    margin-top: 1rem; */
    position: fixed;
    width: 16rem;
    height: 100%;
    padding: 3rem 0;
    background-color: #313131;
}

.navWrap .nav h2 {
    color: #9cbcbd;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.navWrap .nav ul li {
    padding: 1rem;
    border-top: 1px solid #9cbcbd;
    border-bottom: 1px solid #9cbcbd;
}

.navWrap .nav ul li .icon {
    color: #9cbcbd;
    display: block;
}

.navWrap .nav ul li .icon .fas {
    width: 2rem;
}

.navWrap .nav ul li .icon .fas :hover {
    background-color: whitesmoke;
}